.card{
         
    width:400px;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px pink;
    background:rgb(241, 167, 140);
    position: relative;
    transition: 0.3s;
    padding: 30px 50px;
    z-index: 1;
   
}
.card:hover{
    transform: scale(1.1);
   
}
img{
    width: 500px;
    height: 300px;
    z-index: 0;
}
h4{
    font-size: 30px;
}
.card-deck{
    display:flex ;
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 10px;
}
body{
    background: url('./bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}